<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='blackLogo.PNG') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Accentauted Walls</title>
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='blackLogo.PNG') }}" alt="">
    </nav>
    <div class="container container-one">
        <div class="text">
            <span>modern walls. | timeless spaces.</span>
            <h1>Walls Designed To <em style="color: #2d442de1; font-weight: 500;">Transform</em> Your Space.</h1>
            <p style="color: rgba(0, 0, 0, 0.291)">────୨ৎ────</p>
            <p>Modern accent walls & interior painting crafted to</br> bring depth, warmth, and character to your home.</p>
            <button class="button1" ><a href="#getQoute" style="color: white;">get a free quote</a></button>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='background_image.jpg') }}" alt="">
        </div>
    </div>
    <div class="container-two">
        <div style="border-left: transparent;">
            <span>custom designs</span>
            <p>tailored to your style and space.</p>
        </div>  
        <div>
            <span>modern finishes</span>
            <p>clean details. quality materials.</p>
        </div>
        <div>
            <span>serving in GA & TN</span>
            <p>serving homes across GA & TN.</p>
        </div>
    </div>
    <div class="container-three">
        <img id="img1" src="{{ url_for('static', filename='1.jpg') }}" alt="">
        <img id="img2" src="{{ url_for('static', filename='2.jpg') }}" alt="">
        <img id="img3" src="{{ url_for('static', filename='3.jpg') }}" alt="">
        <img id="img4" src="{{ url_for('static', filename='4.jpg') }}" alt="">
        <img id="img6" src="{{ url_for('static', filename='6.jpg') }}" alt="">
        <img id="img9" src="{{ url_for('static', filename='9.jpg') }}" alt="">
    </div>
    <div class="container-four">
        <div class="box">
            <div class="tag" style="background-color: transparent;">&nbsp</div>
            <h1>Basic</h1>
            <span>starting at</span>
            <h1>$399</h1>
            <div class="line"></div>
            <div class="items">
                <p>✓ Custom accent wall</p>
                <p>✓ Professional paint finish</p>
                <p>✓ Surface prep included</p>
                <p>✓ 1-day turnaround</p>
                <p>✓ Clean modern design</p>
            </div>
            <button><a href="#getQoute">get quote</a></button>
        </div>
        <div class="box middle-box">
            <div class="tag">most popular</div>
            <h1>Essential</h1>
            <span>most projects</span>
            <h1>$699-$1,200</h1>
            <div class="line"></div>
            <div class="items">
                <p>✓ Advanced wall design</p>
                <p>✓ Full room repaint</p>
                <p>✓ Trim touch-ups</p>
                <p>✓ Furniture Assistance</p>
                <p>✓ Premium finish</p>
            </div>
            <button><a href="#getQoute" style="color: white;">get quote</a></button>
        </div>
        <div class="box">
            <div class="tag" style="background-color: transparent;">&nbsp</div>
            <h1>signature</h1>
            <span>custom qoute</span>
            <h1>&nbsp</h1>
            <div class="line"></div>
            <div class="items">
                <p>✓ Multi-room upgrades</p>
                <p>✓ Custom concepts</p>
                <p>✓ Design consultation</p>
                <p>✓ Premium detailing</p>
                <p>✓ Priority scheduling</p>
            </div>
            <button><a href="#getQoute">get quote</a></button>
        </div>
    </div>
    <div class="container-five" id="getQoute">
        <form action="/submitContactForm" method="post">
            <input type="text" name="firstname" placeholder="First Name" required>
            <input type="text" name="lastname" placeholder="Last Name" required>
            <input type="tel" name="phonenumber" placeholder="Phone Number" required>
            <input type="text" name="email" placeholder="Email" required>
            <input class="message" type="text" name="message" placeholder="Message" required>
            <button type="submit">Send</button>
        </form>
    </div>
    <footer>
        © 2026 Accentuated Walls. All rights reserved. 
    </footer>
</body>
</html>
